<div class="product-list-wrapper">
    <h1>Productos Recientes</h1>
    <div class="row">
        <div class="col-sm-25">
            <div class="product-item">
                <img src="{{'https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_' + productList[0].imagenes[0].nombre + '-med.jpg'}}" />
                <div class="product-details">
                    <h5 class="name-head">{{productList[0].nombre}}</h5>
                    <div class="product-price">
                        <h6>{{productList[0].precio}}</h6>
                    </div>
                </div>
                <div class="product-footer">
                    <button>Sumar al Carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>