<nav class="nav">
    <h1 class="title"><a routerLink="">Challange</a></h1>
    <div class="nav-search">
        <input type="text" placeholder="Search...">
        <button class="btn-blue btn-nav">Search</button>
    </div>
    <div *ngIf="menuType === 0">
        <ul>
            <li><a routerLink="/home">Inicio</a></li>
            <li><a>Cart(0)</a></li>
            <li><a (click)="registerPage()">Registrarse</a></li>
        </ul>
    </div>
    <div *ngIf="menuType === 1">
        <ul>
            <li><a routerLink="/home">Inicio</a></li>
            <li><a>Cart(0)</a></li>
            <li><a>{{userName | titlecase}}</a></li>
            <li><a (click)="logout()">Cerrar Sesion</a></li>
        </ul>
    </div>
</nav>