<nav class="nav">
    <h1 class="title"><a routerLink="">CHALLANGE</a></h1>
    <div *ngIf="menuType === 0">
        <ul>
            <li><a routerLink="/home">Inicio</a></li>
            <li><a routerLink="/product/list">Productos</a></li>
            <li><a>Cart(0)</a></li>
            <li><a (click)="registerPage()">Registrarse</a></li>
        </ul>
    </div>
    <div *ngIf="menuType === 1">
        <ul>
            <li><a routerLink="/home">Inicio</a></li>
            <li><a routerLink="/product/list">Productos</a></li>
            <li><a>Cart(0)</a></li>
            <li><a>{{userName | titlecase}}</a></li>
            <li><a (click)="logout()">Cerrar Sesion</a></li>
        </ul>
    </div>
</nav>